DB_USER="usuário do banco de dados"
DB_SENHA="senha do banco de dados"
DB_NAME="nome do banco de dados"
DATABASE_URL="url do banco de dados"
FRONTEND_URL="url do frontend"
JWT_SECRET="string aleatoria para tokens jwt"